---
const { imageSrc, altText } = Astro.props;
---

<div class="hero-image">
  <img src={imageSrc} alt={altText} />
</div>

<style>
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    max-height: 450px;
    object-fit: cover;
  }
</style>
